@use 'typography';

// MAIN MENU
#navbar {
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    color: var(--color-white);
    padding: 1rem;
    text-transform: uppercase;
    padding-top: 2.35rem;
}

/* Style the hamburger menu */
#navbar a.icon {
    color: white;
    text-decoration: none;
    display: block;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    padding-left: 1rem;
    padding-top: 1rem;
  }

#navbar a {
    text-decoration: none;
}

#navbar li {
    padding-top: .5rem;
    padding-bottom: .5rem;
}

#navbar li:first-of-type {
    padding-top: 1rem;
}

#navbar li:last-of-type {
    padding-bottom: 0;
}

#mainmenu {
    display: none;
}

@media screen and (min-width: 768px) {
    header,
    .header {
        display: inline-block;
        white-space: nowrap;
    }

    #navbar {
        padding: 0;
        position: fixed; 
        top: 0;
        right: 0;
        left: 0;
        display: block;
        border: 2px solid var(--color-white);
    }

    /* Start - Change from mobile to desktop navigation */
    #mainmenu {
        display: block;
    }

    #navbar a.icon {
        display: none;
    }
    /* ENd - Change from mobile to desktop navigation */

    #navbar .menu nav ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    #navbar li {
        font-size: .75rem;
        letter-spacing: 0.1rem;
    }

    #navbar .menu nav li {
        column-span: 1;
        text-align: center;
        // border-left: 1px solid var(--color-white);
        // border-right: 1px solid var(--color-white);
    }

    #navbar li,
    #navbar li:first-of-type,
    #navbar li:last-of-type {
        padding: .5rem 0;
    }
}

@media screen and (min-width: 1024px) {
    #navbar .menu nav ul {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }
}
